<!-- extend base layout -->
{% extends "base.html" %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-7">
      <form action="/submit" id="textform" method="post">
        <div class="mb-3">
          <label class="form-label" for="name">Name</label>
          <input class="form-control" type="text" name="name" id="id" value="{{patient.name}}"/>
        </div>
  
        <div class="mb-3">
          <label class="form-label" for="birthday">Birthday</label>
          <input class="form-control" type="date" name="birthday" id="birthday" value="{{patient.birthday}}"/>
        </div>
  
        <div class="form-floating mb-3">
          <label class="form-label" for="diagnostic">Doctor's diagnosis</label>
          <textarea
            id="diagnostic"
            name="diagnostic"
            class="form-control"
            rows="4"
            placeholder="Diseases..."
          ></textarea>
        </div>
  
        <input class="btn btn-success" type="submit" value="Post" />
      </form>
      <br />
    </div>
    <div class="col-5">
      <div class="post_container">
        <h4>Medical examination history</h4>
        <hr/>
        {% if posts=={} %}
        <p>Nothing here</p>
        {% endif %}
        {% for post in posts %}
        <div class="d-flex flex-column">
          <div class="post_box-header">
            <b class="name-header">{{post.name}}</b>
            <div class="post_box-subtitle">
              At <i>{{readable_time(post.timestamp)}}</i>
            </div>
          </div>
          <div>
            <div class="post_box-body">
              <p>{{post.diagnostic}}</p>
            </div>
          </div>
        </div>
        <hr />
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<script src="../static/main.js"></script>
{% endblock %}
