<!-- extend base layout -->
{% extends "base.html" %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-7">
      <form action="/submit" id="textform" method="post">
        <div class="mb-3">
          <label class="form-label" for="patientId">Patient ID</label>
          <input
            class="form-control"
            type="text"
            name="patientId"
            id="patientId"
            value="{{patient._id}}"
            required
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="name">Name</label>
          <input
            class="form-control"
            type="text"
            name="name"
            id="id"
            value="{{patient.name}}"
            required
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="birthday">Birthday</label>
          <input
            class="form-control"
            type="date"
            name="birthday"
            id="birthday"
            value="{{patient.birthdate}}"
            required
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="medicalService">Medical service</label>
          <select
            class="form-select form-select-lg"
            aria-label="Default select example"
            name="medicalService"
          >
            <option selected>Medical service</option>
            {% for medical_service in medical_services %}
            <option value="{{medical_service.name}}">
              {{medical_service.name}}
            </option>
            {% endfor %}
          </select>
        </div>

        <div class="form-floating mb-3">
          <label class="form-label" for="diagnostic">Doctor's diagnosis</label>
          <textarea
            id="diagnostic"
            name="diagnostic"
            class="form-control"
            rows="4"
            placeholder="Diseases..."
            required
          ></textarea>
        </div>

        <input class="btn btn-success" type="submit" value="Post" />
      </form>
      <br />
    </div>
    <div class="col-5">
      <div class="container vh-100">
        <h4>Medical examination history</h4>
        <div class="container h-75 overflow-auto">
          <hr />
          {% if posts=={} %}
          <p>Nothing here</p>
          {% endif %} {% for post in posts %}
          <div class="d-flex flex-column post-container">
            <span class="text-black-50">
              At <i>{{readable_time(post.timestamp)}}</i>
            </span>
            <div class="d-flex flex-column post-content">
              <div class="container">
                <span>
                  <b class="text-success">Medical service : </b>
                  {{post.medical_service}}
                </span>
                <p class="content-more d-none text-break">
                  <b class="text-primary">Diagnostic : </b>
                  {{post.diagnostic}}
                </p>
              </div>
              <button class="btn btn-show-more">
                <i class="bi bi-chevron-compact-down"></i>
              </button>
            </div>
          </div>
          <hr />
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<script src="../static/main.js"></script>
{% endblock %}
