<!-- extend base layout -->
{% extends "base.html" %} {% block content %}
<br />
<div class="container">
  <div class="row">
    <div class="col-7">
      <form action="/search" id="textform" method="post">
        <div class="mb-3">
          <label class="form-label" for="bhyt">BHYT</label>
          <input class="form-control" type="text" name="bhyt" id="bhyt" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="name">Name</label>
          <input class="form-control" type="text" name="name" id="id" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="birthday">Birthday</label>
          <input
            class="form-control"
            type="date"
            name="birthday"
            id="birthday"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="phoneNumber">Phone Number</label>
          <input
            class="form-control"
            type="tel"
            name="phoneNumber"
            id="phoneNumber"
          />
        </div>

        <input class="btn btn-primary" type="submit" value="Search" />
      </form>
      <br />
    </div>
    <div class="col-5">
      <h4>Recent medical examination list</h4>
      <a class="btn btn-success" href="/">Resync</a>
      <hr />

      <div class="container">
        {% for post in posts %}
        <div class="d-flex flex-column">
          <div class="post_box-header">
            <b class="name-header">{{post.name}}</b>
            <div class="post_box-subtitle">
              At <i>{{readable_time(post.timestamp)}}</i>
            </div>
          </div>
          <div>
            <div class="post_box-body">
              <p>{{post.diagnostic}}</p>
            </div>
          </div>
        </div>
        <hr />
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<script src="../static/main.js"></script>
{% endblock %}
