<!-- extend base layout -->
{% extends "base.html" %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-7">
      <form action="/search" id="textform" method="post">
        <div class="mb-3">
          <label class="form-label" for="bhyt">Patient ID</label>
          <input
            class="form-control"
            type="text"
            name="bhyt"
            id="bhyt"
            required
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="name">Name</label>
          <input class="form-control" type="text" name="name" id="id" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="birthday">Birthday</label>
          <input
            class="form-control"
            type="date"
            name="birthday"
            id="birthday"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="phoneNumber">Phone Number</label>
          <input
            class="form-control"
            type="tel"
            name="phoneNumber"
            id="phoneNumber"
          />
        </div>

        <input class="btn btn-primary" type="submit" value="Search" />
      </form>
      <br />
    </div>
    <div class="col-5">
      <div class="container vh-100">
        <h4>Recent medical examination list</h4>
        <a class="btn btn-success" href="/"
          ><i class="bi bi-arrow-clockwise"></i
        ></a>
        <hr />

        <div class="container h-50 overflow-auto">
          {% for post in posts %}
          <div class="d-flex flex-column">
            <b class="text-break">Patient_{{post.hash}}</b>
            <span class="text-black-50"
              >At <i>{{readable_time(post.timestamp)}}</i></span
            >
            <span>
              <b class="text-success">Medical service : </b>
              {{post.medical_service}}</span
            >
          </div>
          <hr />
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
